---
import { Progress } from "@/components/ui/progress";

const skills = [
  { name: "JavaSE/EE", value: 100 },
  { name: "Databases", value: 100 },
  { name: "C/C++", value: 100 },
  { name: "Web Development", value: 70 },
  { name: "SAP ERP", value: 80 },
  { name: "TypeScript", value: 60 },
  { name: "C#", value: 50 },
  { name: "Swift", value: 50 },
];
---
<section id="skills" class="mx-auto max-w-3xl px-6 py-24">
  <h2 class="text-3xl font-medium">Skills</h2>
  <div class="mt-8 grid gap-6 sm:grid-cols-2">
    {skills.map((skill) => (
      <div>
        <p class="mb-2 font-medium">{skill.name}</p>
        <Progress value={skill.value} />
      </div>
    ))}
  </div>
</section>
